In [ ]:
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd
from dblib import mssql
print('done')

In [16]:
#load data
#mv_graph_plat_cam_net.sql
sql = "select ifca, intertidalfid, season,species,n_sum,n_count from v_all_aggregate order by ifca, intertidalfid, season, species, n_sum desc"
with mssql.Conn('mmo', 's30', user='sa', pw='GGM290471') as cnn:
    df = pd.read_sql(sql, cnn)
df['n_count_ln'] = np.log( df['n_count'])
list(df)

['ifca',
 'intertidalfid',
 'season',
 'species',
 'n_sum',
 'n_count',
 'n_count_ln']

In [17]:
#BY SPECIES/SEASON

In [ ]:
df['rank'] = df.groupby(['ifca', 'season', 'species'])['n_count_ln'].transform(lambda x: pd.cut(x, 3, labels=range(1,4), duplicates='drop'))
df.to_csv('C:/Users/Graham Monkman/OneDrive/Documents/MMOMapping/jupyter/outputs/mmo_species_rank.csv')
print('Done')

In [ ]:
#NWW OVERALL

In [18]:
sql = "select ifca, intertidalfid, survey_poly_name, survey_poly_ifca, count(*) as post_n from v_all group by ifca, intertidalfid, survey_poly_name, survey_poly_ifca order by ifca, intertidalfid"
with mssql.Conn('mmo', 's30', user='sa', pw='GGM290471') as cnn:
    df_all = pd.read_sql(sql, cnn)
    
df_all['n_count_log'] = np.log( df_all['post_n'])
list(df_all)

Data loaded

In [ ]:
#OVERALL

In [7]:
df_al

          ifca  intertidalfid        survey_poly_name survey_poly_ifca  post_n
0     cornwall             15                    None             None      16
1     cornwall             23                    None             None      31
2     cornwall             25                    None             None       8
3     cornwall             29                    None             None     126
4     cornwall             30                    None             None     187
5     cornwall             34                    None             None       3
6     cornwall             75                    None             None      36
7     cornwall             78                    None             None      13
8     cornwall            108                    None             None      61
9     cornwall            109                    None             None       1
10    cornwall            112                    None             None      46
11    cornwall            148  Mullion/Polurrian Cove         cornwall     177
12    cornwall            149                    None             None      55
13    cornwall            150                    None             None       4
14    cornwall            152                    None             None     355
15    cornwall            156                    None             None     133
16    cornwall            158                    None             None      50
17    cornwall            202                    None             None      52
18    cornwall            203                    None             None      62
19    cornwall            205                    None             None     192
20    cornwall            206                    None             None      37
21    cornwall            211                    None             None      15
22    cornwall            250                    None             None       6
23    cornwall            251                    None             None      18
24    cornwall            252                    None             None      64
25    cornwall            253                    None             None      15
26    cornwall            257                    None             None       6
27    cornwall            260                    None             None      72
28    cornwall            263                    None             None      72
29    cornwall            284                    None             None      29
...        ...            ...                     ...              ...     ...
2254    sussex           4186                    None             None       6
2255    sussex           4187                    None             None     212
2256    sussex           4188                    None             None       6
2257    sussex           4189                    None             None      57
2258    sussex           4190                    None             None      10
2259    sussex           4195                    None             None       2
2260    sussex           4198                    None             None      98
2261    sussex           4201                    None             None     925
2262    sussex           4204                    None             None       3
2263    sussex           4210                    None             None     436
2264    sussex           4213                    None             None     212
2265    sussex           4218                    None             None      13
2266    sussex           4224                    None             None     218
2267    sussex           4225                    None             None     259
2268    sussex           4227                    None             None       6
2269    sussex           4231                    None             None     212
2270    sussex           4232                    None             None     338
2271    sussex           4234                    None             None       8
2272    sussex           4237                    None             None       3
2273    sussex           4239                    None             None     240
2274    sussex           4240                    None             None       8
2275    sussex           4242                    None             None      30
2276    sussex           4244                    None             None       2
2277    sussex           4246                    None             None      19
2278    sussex           4247                    None             None     212
2279    sussex           4249                    None             None      78
2280    sussex           4250                    None             None       9
2281    sussex           4342                    None             None    2622
2282    sussex           4344   Tidemills and Seaford           sussex    2757
2283    sussex           4381           pagham lagoon           sussex      28

[2284 rows x 5 columns]

In [19]:
df_all['rank_total'] = df_all.groupby(['ifca'])['post_n'].transform(lambda x: pd.qcut(x, 3, labels=range(1,4), duplicates='drop'))

In [21]:
df_all.to_csv('C:/Users/Graham Monkman/OneDrive/Documents/MMOMapping/jupyter/outputs/mmo_overall_rank.csv')